body{
    background: #efefef;
}
.wrap{
    position: absolute;
    width: 100%;
    height: 100%;
}
.wrapper_main{
    position: relative;
    width: 100%;
    height: 13.4rem;
    overflow: auto;
}
/* 头部 */

.head{
    border-bottom: 1px solid #E6E6E6;
    height: 0.9rem;
    line-height: 0.9rem;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    background: #fff;
}
.head .top{
    font-size: 0.34rem;
}
.searchBtn{
    position: absolute;
    top: 0.2rem;
    right: 0.24rem;
    width: 0.48rem;
}


/* 主体 */

.main{
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    position: relative;
    box-sizing: border-box;
}
/* 动画 */
.banner{
    margin-bottom: 0.2rem;
    background: #fff;
}
.banner_animation{
    width: 100%;
    overflow: hidden;
}
.banner_animation ul{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.banner_animation ul li{  
    width: 100%; 
    height: 100%;
}
.banner_animation ul li img{
    width: 100%;
    height: 2.5rem;
}


/* 菜单 */

.banner_menu {
    width: 100%;
    padding: 0.24rem 0 ;
   
}
.banner_menu ul{
    display: flex;
    justify-content: space-around;
}
.banner_menu ul li{
    text-align: center;
    flex: 1;
}
.banner_menu ul li img{
    width: 0.5rem;
    margin: 0 auto;
}
.banner_menu ul li span{
   line-height: 0.48rem;
   font-size: 0.3rem;   
   display: block;
   height: 0.48rem; 
   margin-top: 0.08rem
}


/* 商城 */

.shop_module{
    margin-bottom: 0.2rem;
    background: #fff;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    position: relative;
}
/* 商城头部 */
.shop_top{
    height: 0.9rem;
    line-height: 0.9rem;
    background: url(../imgers/icon/module-icon.png) no-repeat 0 0.22rem;
    background-size: 0.06rem 0.46rem;
    padding-left: 0.16rem;
    padding-right: 12px;
    font-size: 0.32rem;
}
.shop_top .shop_enter{
    background: url(../imgers/icon/moreCon.png) no-repeat 0 0.32rem;
    display: inline-block;
    float: right;
    background-size: 0.12rem 0.24rem;
    width: 0.2rem;
    line-height: 0.9rem;
    height: 0.9rem;
}

/* 商品详情 */
.shop_main{
    width: 100%;
    height: auto;
    position: relative;
}
.shop_main ul{
    width: 100%;
    display: flex;
}
.shop_main ul li{
    width: 50%;
    padding-bottom: 5px;
}
.shop_main_pic img{
    width:100%;
}
.shop_main_intro .shop_card{
    line-height: 0.46rem;
    padding-left: 0.24rem;
    padding-right: 0.24rem;
    font-size: 0.28rem;
}
.shop_main_intro .shop_money{
    line-height: 0.44rem;
    padding-left: 0.24rem;
    padding-right: 0.24rem;
    font-size: 0.24rem;
    color: #F74444;
}

/* 资讯模块 */
.information_module{
    background: #fff;
}
/* 资讯模块时间 */
.date{
    height: 0.7rem;
    line-height: 0.7rem;
    padding: 0 0.24rem;
    background: #efefef;
    font-size: 0.32rem;
    color: #1a1a1a;
}
/* 资讯模块详情头部 */
.module_name{
    height: 0.9rem;
    line-height: 0.9rem;
    background: url(../imgers/icon/module-icon.png) no-repeat 0 0.22rem;
    background-size: 0.06rem 0.46rem;
    padding-left: 0.16rem;
    padding-right: 12px;
    font-size: 0.32rem;
}
.module_name .information_enter{
    background: url(../imgers/icon/moreCon.png) no-repeat 0 0.32rem;
    display: inline-block;
    float: right;
    background-size: 0.12rem 0.24rem;
    width: 0.2rem;
    line-height: 0.9rem;
    height: 0.9rem;
}

/* 资讯模块详情内容 */

.module_content{
    width: 100%;
}
.module_content ul li{
    width: 100%;
    height:auto;
    padding: 0.16rem 0.24rem;
    border-top: 1px solid #e7e7e7;
}

/* 资讯模块文章 */
.article_top{
    width: 100%;
    display: flex;
}

.article_top .article_left{
    flex:2;
    font-size: 0.28rem;
    color: #666;
    padding-right: 0.28rem;
}
.article_top .article_right{
    flex:1;

}
.article_top .article_right img{
    width: 100%;

}
/* 文章来源 */
.article_bottom{
    width: 100%;
    line-height: 0.5rem;
    display: flex;
    justify-content: space-between;
}
.article_bottom .article_from{
    float: left;
    font-size: 0.24rem;
    color: #333;
}
.article_bottom .article_praise{
    float: right;
    font-size: 0.3rem;
}
.iconfont{
    font-size: 0.34rem !important;
}